<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard" routerLinkActive="active">Link One</a>
  <a routerLink="/manufacturers" routerLinkActive="active">Manufacturers</a>
   <a routerLink="/parts" routerLinkActive="active">Parts</a>
    <a routerLink="/products" routerLinkActive="active">Products</a>
    <a routerLink="/productionruns" routerLinkactive="active">Productrun</a>
    <a routerLink="/Billofmaterials" routerLinkActive="active">BillofMaterials</a>
</nav>
<router-outlet></router-outlet>
